"""deepgram.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from deepgram.api_helper import APIHelper
from deepgram.apis.base_api import BaseApi
from deepgram.configuration import Server
from deepgram.exceptions.api_exception import (
    ApiException,
)
from deepgram.http.http_method_enum import HttpMethodEnum
from deepgram.models.list_project_purchases_v_1_response import (
    ListProjectPurchasesV1Response,
)


class ManageV1ProjectsBillingPurchasesApi(BaseApi):
    """A Controller to access Endpoints in the deepgram API."""

    def __init__(self, config):
        """Initialize ManageV1ProjectsBillingPurchasesApi object."""
        super(ManageV1ProjectsBillingPurchasesApi, self).__init__(config)

    def list(self,
             project_id,
             limit=10):
        """Perform a GET request to /v1/projects/{project_id}/purchases.

        Returns the original purchased amount on an order transaction

        Args:
            project_id (str): The unique identifier of the project
            limit (float, optional): Number of results to return per page. Default
                10. Range [1,1000]

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. A list of purchases for
                a specific project

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/projects/{project_id}/purchases")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("project_id")
                .value(project_id)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("limit")
                .value(limit))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("ApiKeyAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListProjectPurchasesV1Response.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Invalid Request", ApiException),
        ).execute()
