"""deepgram.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from deepgram.api_helper import APIHelper
from deepgram.apis.base_api import BaseApi
from deepgram.configuration import Server
from deepgram.exceptions.api_exception import (
    ApiException,
)
from deepgram.http.http_method_enum import HttpMethodEnum
from deepgram.models.list_billing_fields_v_1_response import (
    ListBillingFieldsV1Response,
)


class ManageV1ProjectsBillingFieldsApi(BaseApi):
    """A Controller to access Endpoints in the deepgram API."""

    def __init__(self, config):
        """Initialize ManageV1ProjectsBillingFieldsApi object."""
        super(ManageV1ProjectsBillingFieldsApi, self).__init__(config)

    def list(self,
             project_id,
             start=None,
             end=None):
        """Perform a GET request to /v1/projects/{project_id}/billing/fields.

        Lists the accessors, deployment types, tags, and line items used for billing
        data in the specified time period. Use this endpoint if you want to filter
        your results from the Billing Breakdown endpoint and want to know what
        filters are available.

        Args:
            project_id (str): The unique identifier of the project
            start (date, optional): Start date of the requested date range. Format
                accepted is YYYY-MM-DD
            end (date, optional): End date of the requested date range. Format
                accepted is YYYY-MM-DD

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. A list of billing
                fields for a specific project

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/projects/{project_id}/billing/fields")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("project_id")
                .value(project_id)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("start")
                .value(start))
            .query_param(Parameter()
                .key("end")
                .value(end))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("ApiKeyAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListBillingFieldsV1Response.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Invalid Request", ApiException),
        ).execute()
