"""deepgram.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from deepgram.api_helper import APIHelper
from deepgram.apis.base_api import BaseApi
from deepgram.configuration import Server
from deepgram.exceptions.api_exception import (
    ApiException,
)
from deepgram.http.http_method_enum import HttpMethodEnum
from deepgram.models.list_project_member_scopes_v_1_response import (
    ListProjectMemberScopesV1Response,
)
from deepgram.models.update_project_member_scopes_v_1_response import (
    UpdateProjectMemberScopesV1Response,
)


class ManageV1ProjectsMembersScopesApi(BaseApi):
    """A Controller to access Endpoints in the deepgram API."""

    def __init__(self, config):
        """Initialize ManageV1ProjectsMembersScopesApi object."""
        super(ManageV1ProjectsMembersScopesApi, self).__init__(config)

    def list(self,
             project_id,
             member_id):
        """Perform a GET request to
        /v1/projects/{project_id}/members/{member_id}/scopes.

        Retrieves a list of scopes for a specific member

        Args:
            project_id (str): The unique identifier of the project
            member_id (str): The unique identifier of the Member

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. A list of scopes for a
                specific member

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/projects/{project_id}/members/{member_id}/scopes")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("project_id")
                .value(project_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("member_id")
                .value(member_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("ApiKeyAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListProjectMemberScopesV1Response.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Invalid Request", ApiException),
        ).execute()

    def update(self,
               project_id,
               member_id,
               body=None):
        """Perform a PUT request to
        /v1/projects/{project_id}/members/{member_id}/scopes.

        Updates the scopes for a specific member

        Args:
            project_id (str): The unique identifier of the project
            member_id (str): The unique identifier of the Member
            body (UpdateProjectMemberScopesV1Request, optional): A scope to update

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Updated the scopes for
                a specific member

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/projects/{project_id}/members/{member_id}/scopes")
            .http_method(HttpMethodEnum.PUT)
            .template_param(Parameter()
                .key("project_id")
                .value(project_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("member_id")
                .value(member_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("ApiKeyAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(UpdateProjectMemberScopesV1Response.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Invalid Request", ApiException),
        ).execute()
