"""deepgram.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from deepgram.api_helper import APIHelper
from deepgram.apis.base_api import BaseApi
from deepgram.configuration import Server
from deepgram.exceptions.api_exception import (
    ApiException,
)
from deepgram.http.http_method_enum import HttpMethodEnum
from deepgram.models.list_models_v_1_response import (
    ListModelsV1Response,
)
from deepgram.utilities.union_type_lookup import (
    UnionTypeLookUp,
)


class ManageV1ModelsApi(BaseApi):
    """A Controller to access Endpoints in the deepgram API."""

    def __init__(self, config):
        """Initialize ManageV1ModelsApi object."""
        super(ManageV1ModelsApi, self).__init__(config)

    def list(self,
             include_outdated=None):
        """Perform a GET request to /v1/models.

        Returns metadata on all the latest public models. To retrieve custom models,
        use Get Project Models.

        Args:
            include_outdated (bool, optional): returns non-latest versions of models

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. A list of models

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/models")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("include_outdated")
                .value(include_outdated))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("ApiKeyAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListModelsV1Response.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Invalid Request", ApiException),
        ).execute()

    def get(self,
            model_id):
        """Perform a GET request to /v1/models/{model_id}.

        Returns metadata for a specific public model

        Args:
            model_id (str): The specific UUID of the model

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. A model object that can
                be either STT or TTS

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/models/{model_id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("model_id")
                .value(model_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("ApiKeyAuth")),
        ).response(
            ResponseHandler()
            .deserializer(lambda value: APIHelper.deserialize_union_type(
                 UnionTypeLookUp
                 .get("GetModelV1Response"), value))
            .is_api_response(True)
            .local_error("400", "Invalid Request", ApiException),
        ).execute()
