"""deepgram.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from deepgram.api_helper import APIHelper
from deepgram.apis.base_api import BaseApi
from deepgram.configuration import Server
from deepgram.exceptions.api_exception import (
    ApiException,
)
from deepgram.http.http_method_enum import HttpMethodEnum
from deepgram.models.create_project_invite_v_1_response import (
    CreateProjectInviteV1Response,
)
from deepgram.models.delete_project_invite_v_1_response import (
    DeleteProjectInviteV1Response,
)
from deepgram.models.list_project_invites_v_1_response import (
    ListProjectInvitesV1Response,
)


class ManageV1ProjectsMembersInvitesApi(BaseApi):
    """A Controller to access Endpoints in the deepgram API."""

    def __init__(self, config):
        """Initialize ManageV1ProjectsMembersInvitesApi object."""
        super(ManageV1ProjectsMembersInvitesApi, self).__init__(config)

    def list(self,
             project_id):
        """Perform a GET request to /v1/projects/{project_id}/invites.

        Generates a list of invites for a specific project

        Args:
            project_id (str): The unique identifier of the project

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. A list of invites for a
                specific project

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/projects/{project_id}/invites")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("project_id")
                .value(project_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("ApiKeyAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListProjectInvitesV1Response.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Invalid Request", ApiException),
        ).execute()

    def create(self,
               project_id,
               body=None):
        """Perform a POST request to /v1/projects/{project_id}/invites.

        Generates an invite for a specific project

        Args:
            project_id (str): The unique identifier of the project
            body (CreateProjectInviteV1Request, optional): email to invite to the
                project

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. The invite was
                successfully generated

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/projects/{project_id}/invites")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("project_id")
                .value(project_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("ApiKeyAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(CreateProjectInviteV1Response.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Invalid Request", ApiException),
        ).execute()

    def delete(self,
               project_id,
               email):
        """Perform a DELETE request to
        /v1/projects/{project_id}/invites/{email}.

        Deletes an invite for a specific project

        Args:
            project_id (str): The unique identifier of the project
            email (str): The email address of the member

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. The invite was
                successfully deleted

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/projects/{project_id}/invites/{email}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("project_id")
                .value(project_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("email")
                .value(email)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("ApiKeyAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DeleteProjectInviteV1Response.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Invalid Request", ApiException),
        ).execute()
