"""deepgram.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from deepgram.api_helper import APIHelper
from deepgram.apis.base_api import BaseApi
from deepgram.configuration import Server
from deepgram.exceptions.api_exception import (
    ApiException,
)
from deepgram.http.http_method_enum import HttpMethodEnum
from deepgram.models.create_key_v_1_response import (
    CreateKeyV1Response,
)
from deepgram.models.delete_project_key_v_1_response import (
    DeleteProjectKeyV1Response,
)
from deepgram.models.get_project_key_v_1_response import (
    GetProjectKeyV1Response,
)
from deepgram.models.list_project_keys_v_1_response import (
    ListProjectKeysV1Response,
)
from deepgram.utilities.union_type_lookup import (
    UnionTypeLookUp,
)


class ManageV1ProjectsKeysApi(BaseApi):
    """A Controller to access Endpoints in the deepgram API."""

    def __init__(self, config):
        """Initialize ManageV1ProjectsKeysApi object."""
        super(ManageV1ProjectsKeysApi, self).__init__(config)

    def list(self,
             project_id,
             status=None):
        """Perform a GET request to /v1/projects/{project_id}/keys.

        Retrieves all API keys associated with the specified project

        Args:
            project_id (str): The unique identifier of the project
            status (V1ProjectsProjectIdKeysGetParametersStatus, optional): Only
                return keys with a specific status

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. A list of API keys

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/projects/{project_id}/keys")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("project_id")
                .value(project_id)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("status")
                .value(status))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("ApiKeyAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListProjectKeysV1Response.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Invalid Request", ApiException),
        ).execute()

    def create(self,
               project_id,
               body=None):
        """Perform a POST request to /v1/projects/{project_id}/keys.

        Creates a new API key with specified settings for the project

        Args:
            project_id (str): The unique identifier of the project
            body (Any | None, optional): API key settings

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. API key created
                successfully

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/projects/{project_id}/keys")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("project_id")
                .value(project_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .validator(lambda value: UnionTypeLookUp
                    .get("CreateKeyV1Request").validate(value)))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("ApiKeyAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(CreateKeyV1Response.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Invalid Request", ApiException),
        ).execute()

    def get(self,
            project_id,
            key_id):
        """Perform a GET request to /v1/projects/{project_id}/keys/{key_id}.

        Retrieves information about a specified API key

        Args:
            project_id (str): The unique identifier of the project
            key_id (str): The unique identifier of the API key

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. A specific API key

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/projects/{project_id}/keys/{key_id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("project_id")
                .value(project_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("key_id")
                .value(key_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("ApiKeyAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GetProjectKeyV1Response.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Invalid Request", ApiException),
        ).execute()

    def delete(self,
               project_id,
               key_id):
        """Perform a DELETE request to /v1/projects/{project_id}/keys/{key_id}.

        Deletes an API key for a specific project

        Args:
            project_id (str): The unique identifier of the project
            key_id (str): The unique identifier of the API key

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. API key deleted

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/projects/{project_id}/keys/{key_id}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("project_id")
                .value(project_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("key_id")
                .value(key_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("ApiKeyAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DeleteProjectKeyV1Response.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Invalid Request", ApiException),
        ).execute()
