"""deepgram.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from deepgram.api_helper import APIHelper
from deepgram.apis.base_api import BaseApi
from deepgram.configuration import Server
from deepgram.exceptions.api_exception import (
    ApiException,
)
from deepgram.http.http_method_enum import HttpMethodEnum
from deepgram.models.speak_v_2_accepted_response import (
    SpeakV2AcceptedResponse,
)
from deepgram.utilities.union_type_lookup import (
    UnionTypeLookUp,
)


class SpeakV2AudioApi(BaseApi):
    """A Controller to access Endpoints in the deepgram API."""

    def __init__(self, config):
        """Initialize SpeakV2AudioApi object."""
        super(SpeakV2AudioApi, self).__init__(config)

    def generate(self,
                 model,
                 callback=None,
                 callback_method="POST",
                 mip_opt_out=False,
                 tag=None,
                 bit_rate=None,
                 container=None,
                 encoding=None,
                 sample_rate=None,
                 priority=None,
                 body=None):
        """Perform a POST request to /v2/speak.

        Synthesize a complete block of text into a single audio response using
        Deepgram's Flux TTS batch (REST) API. Use this for pre-rendering fixed audio
        (IVR prompts, notifications, narration) where the whole text is known up
        front and you don't need incremental playback or interruption.

        Args:
            model (str): Flux TTS model used to synthesize the submitted text, in the
                form `flux-{voice}-{language}` (for example, `flux-alexis-en`).
                Required; unlike the v1 (Aura) endpoint there is no default and only
                flux models are accepted. English-only at launch.
            callback (str, optional): URL to which we'll make the callback request
            callback_method (V1ListenPostParametersCallbackMethod, optional): HTTP
                method by which the callback request will be made
            mip_opt_out (bool, optional): Opts out requests from the Deepgram Model
                Improvement Program. Refer to our Docs for pricing impacts before
                setting this to true. https://dpgr.am/deepgram-mip
            tag (str | List[str] | None, optional): Label your requests for the
                purpose of identification during usage reporting
            bit_rate (V2SpeakPostParametersBitRate0 | int | None, optional): The
                bitrate of the audio in bits per second. Choose from predefined
                ranges or specific values based on the encoding type.
            container (V2SpeakPostParametersContainer0 |
                V2SpeakPostParametersContainer1 | V2SpeakPostParametersContainer2 |
                V2SpeakPostParametersContainer3 | V2SpeakPostParametersContainer4 |
                None, optional): Container specifies the file format wrapper for the
                output audio. The available options depend on the encoding type.
            encoding (V2SpeakPostParametersEncoding0 | V2SpeakPostParametersEncoding1
                | V2SpeakPostParametersEncoding2 | V2SpeakPostParametersEncoding3 |
                V2SpeakPostParametersEncoding4 | V2SpeakPostParametersEncoding5 |
                V2SpeakPostParametersEncoding6 | None, optional): Encoding allows you
                to specify the expected encoding of your audio output
            sample_rate (V2SpeakPostParametersSampleRate0 |
                V2SpeakPostParametersSampleRate1 | V2SpeakPostParametersSampleRate2 |
                V2SpeakPostParametersSampleRate3 | None, optional): Sample Rate
                specifies the sample rate for the output audio. Based on the
                encoding, different sample rates are supported. For some encodings,
                the sample rate is not configurable
            priority (V2SpeakPostParametersPriority, optional): Processing priority
                for asynchronous (callback) requests. The only supported value is low.
            body (SpeakV2Request, optional): Transform text to speech

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Returns the synthesized
                audio in the requested encoding as a binary stream. When a `callback`
                URL is supplied, the request is processed asynchronously and the
                response body is instead a JSON acknowledgement (Content-Type
                `application/json`) of the form {"request_id": "..."}, with the audio
                delivered to the callback URL. Because this endpoint is typed as a
                binary audio stream, SDK callers that set `callback` receive this
                JSON acknowledgement through the audio byte iterator as raw bytes and
                must join the chunks and parse `request_id` themselves.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v2/speak")
            .http_method(HttpMethodEnum.POST)
            .query_param(Parameter()
                .key("model")
                .value(model)
                .is_required(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .query_param(Parameter()
                .key("callback")
                .value(callback))
            .query_param(Parameter()
                .key("callback_method")
                .value(callback_method))
            .query_param(Parameter()
                .key("mip_opt_out")
                .value(mip_opt_out))
            .query_param(Parameter()
                .key("tag")
                .value(tag)
                .validator(lambda value: UnionTypeLookUp
                    .get("V2SpeakPostParametersTag").validate(value)))
            .query_param(Parameter()
                .key("bit_rate")
                .value(bit_rate)
                .validator(lambda value: UnionTypeLookUp
                    .get("GenerateBitRate2").validate(value)))
            .query_param(Parameter()
                .key("container")
                .value(container)
                .validator(lambda value: UnionTypeLookUp
                    .get("GenerateContainer2").validate(value)))
            .query_param(Parameter()
                .key("encoding")
                .value(encoding)
                .validator(lambda value: UnionTypeLookUp
                    .get("GenerateEncoding2").validate(value)))
            .query_param(Parameter()
                .key("sample_rate")
                .value(sample_rate)
                .validator(lambda value: UnionTypeLookUp
                    .get("GenerateSampleRate2").validate(value)))
            .query_param(Parameter()
                .key("priority")
                .value(priority))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("ApiKeyAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(SpeakV2AcceptedResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Invalid Request", ApiException),
        ).execute()
