"""deepgram.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from deepgram.api_helper import APIHelper
from deepgram.apis.base_api import BaseApi
from deepgram.configuration import Server
from deepgram.exceptions.api_exception import (
    ApiException,
)
from deepgram.http.http_method_enum import HttpMethodEnum
from deepgram.models.agent_variable_v_1 import (
    AgentVariableV1,
)
from deepgram.models.list_agent_variables_v_1_response import (
    ListAgentVariablesV1Response,
)


class VoiceAgentVariablesApi(BaseApi):
    """A Controller to access Endpoints in the deepgram API."""

    def __init__(self, config):
        """Initialize VoiceAgentVariablesApi object."""
        super(VoiceAgentVariablesApi, self).__init__(config)

    def create(self,
               project_id,
               body=None):
        """Perform a POST request to /v1/projects/{project_id}/agent-variables.

        Creates a new template variable. Variables follow the `DG_<VARIABLE_NAME>`
        naming format and can substitute any JSON value in an agent configuration.

        Args:
            project_id (str): The unique identifier of the project
            body (CreateAgentVariableV1Request, optional): Agent variable details

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Agent variable created
                successfully

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/projects/{project_id}/agent-variables")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("project_id")
                .value(project_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("ApiKeyAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AgentVariableV1.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Invalid Request", ApiException),
        ).execute()

    def list(self,
             project_id):
        """Perform a GET request to /v1/projects/{project_id}/agent-variables.

        Returns all template variables for the specified project

        Args:
            project_id (str): The unique identifier of the project

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. A list of agent
                variables

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/projects/{project_id}/agent-variables")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("project_id")
                .value(project_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("ApiKeyAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListAgentVariablesV1Response.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Invalid Request", ApiException),
        ).execute()

    def get(self,
            project_id,
            variable_id):
        """Perform a GET request to
        /v1/projects/{project_id}/agent-variables/{variable_id}.

        Returns the specified template variable

        Args:
            project_id (str): The unique identifier of the project
            variable_id (str): The unique identifier of the agent variable

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. An agent variable

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/projects/{project_id}/agent-variables/{variable_id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("project_id")
                .value(project_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("variable_id")
                .value(variable_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("ApiKeyAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AgentVariableV1.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Invalid Request", ApiException),
        ).execute()

    def update(self,
               project_id,
               variable_id,
               body=None):
        """Perform a PATCH request to
        /v1/projects/{project_id}/agent-variables/{variable_id}.

        Updates the value of an existing template variable

        Args:
            project_id (str): The unique identifier of the project
            variable_id (str): The unique identifier of the agent variable
            body (UpdateAgentVariableV1Request, optional): Updated value for the
                agent variable

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Agent variable updated

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/projects/{project_id}/agent-variables/{variable_id}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("project_id")
                .value(project_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("variable_id")
                .value(variable_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("ApiKeyAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AgentVariableV1.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Invalid Request", ApiException),
        ).execute()

    def delete(self,
               project_id,
               variable_id):
        """Perform a DELETE request to
        /v1/projects/{project_id}/agent-variables/{variable_id}.

        Deletes the specified template variable

        Args:
            project_id (str): The unique identifier of the project
            variable_id (str): The unique identifier of the agent variable

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Agent variable deleted

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/projects/{project_id}/agent-variables/{variable_id}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("project_id")
                .value(project_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("variable_id")
                .value(variable_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("ApiKeyAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True)
            .local_error("400", "Invalid Request", ApiException),
        ).execute()
