"""restapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from restapi.api_helper import APIHelper
from restapi.apis.base_api import BaseApi
from restapi.configuration import Server
from restapi.exceptions.api_exception import (
    ApiException,
)
from restapi.http.http_method_enum import HttpMethodEnum
from restapi.models.agent_think_models_v_1_response import (
    AgentThinkModelsV1Response,
)


class AgentV1SettingsThinkModelsApi(BaseApi):
    """A Controller to access Endpoints in the restapi API."""

    def __init__(self, config):
        """Initialize AgentV1SettingsThinkModelsApi object."""
        super(AgentV1SettingsThinkModelsApi, self).__init__(config)

    def list(self):
        """Perform a GET request to /v1/agent/settings/think/models.

        Retrieves the available think models that can be used for AI agent processing

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. List of available think
                models

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/agent/settings/think/models")
            .http_method(HttpMethodEnum.GET)
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AgentThinkModelsV1Response.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Invalid Request", ApiException),
        ).execute()
