"""restapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from restapi.api_helper import APIHelper
from restapi.apis.base_api import BaseApi
from restapi.configuration import Server
from restapi.exceptions.api_exception import (
    ApiException,
)
from restapi.http.http_method_enum import HttpMethodEnum
from restapi.models.billing_breakdown_v_1_response import (
    BillingBreakdownV1Response,
)


class ManageV1ProjectsBillingBreakdownApi(BaseApi):
    """A Controller to access Endpoints in the restapi API."""

    def __init__(self, config):
        """Initialize ManageV1ProjectsBillingBreakdownApi object."""
        super(ManageV1ProjectsBillingBreakdownApi, self).__init__(config)

    def list(self,
             project_id,
             authorization,
             start=None,
             end=None,
             accessor=None,
             deployment=None,
             tag=None,
             line_item=None,
             grouping=None):
        """Perform a GET request to
        /v1/projects/{project_id}/billing/breakdown.

        Retrieves the billing summary for a specific project, with various filter
        options or by grouping options.

        Args:
            project_id (str): The unique identifier of the project
            authorization (str): Use `Authorization: Token <API_KEY>` Example:
                `Authorization: Token 12345abcdef`
            start (date, optional): Start date of the requested date range. Format
                accepted is YYYY-MM-DD
            end (date, optional): End date of the requested date range. Format
                accepted is YYYY-MM-DD
            accessor (str, optional): Filter for requests where a specific accessor
                was used
            deployment (V1ProjectsProjectIdBillingBreakdownGetParametersDeployment,
                optional): Filter for requests where a specific deployment was used
            tag (str, optional): Filter for requests where a specific tag was used
            line_item (str, optional): Filter requests by line item (e.g.
                streaming::nova-3)
            grouping
                (List[V1ProjectsProjectIdBillingBreakdownGetParametersGroupingSchemaIt
                ems], optional): Group billing breakdown by one or more dimensions
                (accessor, deployment, line_item, tags)

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Billing breakdown
                response

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/projects/{project_id}/billing/breakdown")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("project_id")
                .value(project_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Authorization")
                .value(authorization)
                .is_required(True))
            .query_param(Parameter()
                .key("start")
                .value(start))
            .query_param(Parameter()
                .key("end")
                .value(end))
            .query_param(Parameter()
                .key("accessor")
                .value(accessor))
            .query_param(Parameter()
                .key("deployment")
                .value(deployment))
            .query_param(Parameter()
                .key("tag")
                .value(tag))
            .query_param(Parameter()
                .key("line_item")
                .value(line_item))
            .query_param(Parameter()
                .key("grouping")
                .value(grouping))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(BillingBreakdownV1Response.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Invalid Request", ApiException),
        ).execute()
