"""restapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from restapi.api_helper import APIHelper
from restapi.apis.base_api import BaseApi
from restapi.configuration import Server
from restapi.exceptions.api_exception import (
    ApiException,
)
from restapi.http.http_method_enum import HttpMethodEnum
from restapi.models.delete_project_member_v_1_response import (
    DeleteProjectMemberV1Response,
)
from restapi.models.list_project_members_v_1_response import (
    ListProjectMembersV1Response,
)


class ManageV1ProjectsMembersApi(BaseApi):
    """A Controller to access Endpoints in the restapi API."""

    def __init__(self, config):
        """Initialize ManageV1ProjectsMembersApi object."""
        super(ManageV1ProjectsMembersApi, self).__init__(config)

    def list(self,
             project_id,
             authorization):
        """Perform a GET request to /v1/projects/{project_id}/members.

        Retrieves a list of members for a given project

        Args:
            project_id (str): The unique identifier of the project
            authorization (str): Use `Authorization: Token <API_KEY>` Example:
                `Authorization: Token 12345abcdef`

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. A list of members for a
                given project

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/projects/{project_id}/members")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("project_id")
                .value(project_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Authorization")
                .value(authorization)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListProjectMembersV1Response.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Invalid Request", ApiException),
        ).execute()

    def delete(self,
               project_id,
               member_id,
               authorization):
        """Perform a DELETE request to
        /v1/projects/{project_id}/members/{member_id}.

        Removes a member from the project using their unique member ID

        Args:
            project_id (str): The unique identifier of the project
            member_id (str): The unique identifier of the Member
            authorization (str): Use `Authorization: Token <API_KEY>` Example:
                `Authorization: Token 12345abcdef`

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Delete the specific
                member from the project

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/projects/{project_id}/members/{member_id}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("project_id")
                .value(project_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("member_id")
                .value(member_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Authorization")
                .value(authorization)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(DeleteProjectMemberV1Response.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Invalid Request", ApiException),
        ).execute()
