"""restapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from restapi.api_helper import APIHelper
from restapi.apis.base_api import BaseApi
from restapi.configuration import Server
from restapi.exceptions.api_exception import (
    ApiException,
)
from restapi.http.http_method_enum import HttpMethodEnum
from restapi.models.list_models_v_1_response import (
    ListModelsV1Response,
)
from restapi.utilities.union_type_lookup import (
    UnionTypeLookUp,
)


class ManageV1ProjectsModelsApi(BaseApi):
    """A Controller to access Endpoints in the restapi API."""

    def __init__(self, config):
        """Initialize ManageV1ProjectsModelsApi object."""
        super(ManageV1ProjectsModelsApi, self).__init__(config)

    def list(self,
             project_id,
             authorization,
             include_outdated=None):
        """Perform a GET request to /v1/projects/{project_id}/models.

        Returns metadata on all the latest models that a specific project has access
        to, including non-public models

        Args:
            project_id (str): The unique identifier of the project
            authorization (str): Use `Authorization: Token <API_KEY>` Example:
                `Authorization: Token 12345abcdef`
            include_outdated (bool, optional): returns non-latest versions of models

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. A list of models

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/projects/{project_id}/models")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("project_id")
                .value(project_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Authorization")
                .value(authorization)
                .is_required(True))
            .query_param(Parameter()
                .key("include_outdated")
                .value(include_outdated))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListModelsV1Response.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Invalid Request", ApiException),
        ).execute()

    def get(self,
            project_id,
            model_id,
            authorization):
        """Perform a GET request to
        /v1/projects/{project_id}/models/{model_id}.

        Returns metadata for a specific model

        Args:
            project_id (str): The unique identifier of the project
            model_id (str): The specific UUID of the model
            authorization (str): Use `Authorization: Token <API_KEY>` Example:
                `Authorization: Token 12345abcdef`

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. A model object that can
                be either STT or TTS

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/projects/{project_id}/models/{model_id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("project_id")
                .value(project_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("model_id")
                .value(model_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Authorization")
                .value(authorization)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(lambda value: APIHelper.deserialize_union_type(
                 UnionTypeLookUp
                 .get("GetModelV1Response"), value))
            .is_api_response(True)
            .local_error("400", "Invalid Request", ApiException),
        ).execute()
