"""restapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from restapi.api_helper import APIHelper
from restapi.apis.base_api import BaseApi
from restapi.configuration import Server
from restapi.exceptions.api_exception import (
    ApiException,
)
from restapi.http.http_method_enum import HttpMethodEnum
from restapi.models.get_project_request_v_1_response import (
    GetProjectRequestV1Response,
)
from restapi.models.list_project_requests_v_1_response import (
    ListProjectRequestsV1Response,
)


class ManageV1ProjectsRequestsApi(BaseApi):
    """A Controller to access Endpoints in the restapi API."""

    def __init__(self, config):
        """Initialize ManageV1ProjectsRequestsApi object."""
        super(ManageV1ProjectsRequestsApi, self).__init__(config)

    def list(self,
             project_id,
             authorization,
             start=None,
             end=None,
             limit=10,
             page=None,
             accessor=None,
             request_id=None,
             deployment=None,
             endpoint=None,
             method=None,
             status=None):
        """Perform a GET request to /v1/projects/{project_id}/requests.

        Generates a list of requests for a specific project

        Args:
            project_id (str): The unique identifier of the project
            authorization (str): Use `Authorization: Token <API_KEY>` Example:
                `Authorization: Token 12345abcdef`
            start (datetime, optional): Start date of the requested date range.
                Formats accepted are YYYY-MM-DD, YYYY-MM-DDTHH:MM:SS, or
                YYYY-MM-DDTHH:MM:SS+HH:MM
            end (datetime, optional): End date of the requested date range. Formats
                accepted are YYYY-MM-DD, YYYY-MM-DDTHH:MM:SS, or
                YYYY-MM-DDTHH:MM:SS+HH:MM
            limit (float, optional): Number of results to return per page. Default
                10. Range [1,1000]
            page (float, optional): Navigate and return the results to retrieve
                specific portions of information of the response
            accessor (str, optional): Filter for requests where a specific accessor
                was used
            request_id (str, optional): Filter for a specific request id
            deployment (V1ProjectsProjectIdRequestsGetParametersDeployment,
                optional): Filter for requests where a specific deployment was used
            endpoint (V1ProjectsProjectIdRequestsGetParametersEndpoint, optional):
                Filter for requests where a specific endpoint was used
            method (V1ProjectsProjectIdRequestsGetParametersMethod, optional): Filter
                for requests where a specific method was used
            status (V1ProjectsProjectIdRequestsGetParametersStatus, optional): Filter
                for requests that succeeded (status code < 300) or failed (status
                code >=400)

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. A list of requests for
                a specific project

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/projects/{project_id}/requests")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("project_id")
                .value(project_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Authorization")
                .value(authorization)
                .is_required(True))
            .query_param(Parameter()
                .key("start")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    start)))
            .query_param(Parameter()
                .key("end")
                .value(APIHelper.when_defined(APIHelper.RFC3339DateTime,
                    end)))
            .query_param(Parameter()
                .key("limit")
                .value(limit))
            .query_param(Parameter()
                .key("page")
                .value(page))
            .query_param(Parameter()
                .key("accessor")
                .value(accessor))
            .query_param(Parameter()
                .key("request_id")
                .value(request_id))
            .query_param(Parameter()
                .key("deployment")
                .value(deployment))
            .query_param(Parameter()
                .key("endpoint")
                .value(endpoint))
            .query_param(Parameter()
                .key("method")
                .value(method))
            .query_param(Parameter()
                .key("status")
                .value(status))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListProjectRequestsV1Response.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Invalid Request", ApiException),
        ).execute()

    def get(self,
            project_id,
            request_id,
            authorization):
        """Perform a GET request to
        /v1/projects/{project_id}/requests/{request_id}.

        Retrieves a specific request for a specific project

        Args:
            project_id (str): The unique identifier of the project
            request_id (str): The unique identifier of the request
            authorization (str): Use `Authorization: Token <API_KEY>` Example:
                `Authorization: Token 12345abcdef`

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. A specific request for
                a specific project

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/projects/{project_id}/requests/{request_id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("project_id")
                .value(project_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("request_id")
                .value(request_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Authorization")
                .value(authorization)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GetProjectRequestV1Response.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Invalid Request", ApiException),
        ).execute()
