"""restapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from restapi.api_helper import APIHelper
from restapi.apis.base_api import BaseApi
from restapi.configuration import Server
from restapi.exceptions.api_exception import (
    ApiException,
)
from restapi.http.http_method_enum import HttpMethodEnum
from restapi.models.usage_v_1_response import (
    UsageV1Response,
)


class ManageV1ProjectsUsageApi(BaseApi):
    """A Controller to access Endpoints in the restapi API."""

    def __init__(self, config):
        """Initialize ManageV1ProjectsUsageApi object."""
        super(ManageV1ProjectsUsageApi, self).__init__(config)

    def get(self,
            project_id,
            authorization,
            start=None,
            end=None,
            accessor=None,
            alternatives=None,
            callback_method=None,
            callback=None,
            channels=None,
            custom_intent_mode=None,
            custom_intent=None,
            custom_topic_mode=None,
            custom_topic=None,
            deployment=None,
            detect_entities=None,
            detect_language=None,
            diarize=None,
            dictation=None,
            encoding=None,
            endpoint=None,
            extra=None,
            filler_words=None,
            intents=None,
            keyterm=None,
            keywords=None,
            language=None,
            measurements=None,
            method=None,
            model=None,
            multichannel=None,
            numerals=None,
            paragraphs=None,
            profanity_filter=None,
            punctuate=None,
            redact=None,
            replace=None,
            sample_rate=None,
            search=None,
            sentiment=None,
            smart_format=None,
            summarize=None,
            tag=None,
            topics=None,
            utt_split=None,
            utterances=None,
            version=None):
        """Perform a GET request to /v1/projects/{project_id}/usage.

        Retrieves the usage for a specific project. Use Get Project Usage Breakdown
        for a more comprehensive usage summary.

        Args:
            project_id (str): The unique identifier of the project
            authorization (str): Use `Authorization: Token <API_KEY>` Example:
                `Authorization: Token 12345abcdef`
            start (date, optional): Start date of the requested date range. Format
                accepted is YYYY-MM-DD
            end (date, optional): End date of the requested date range. Format
                accepted is YYYY-MM-DD
            accessor (str, optional): Filter for requests where a specific accessor
                was used
            alternatives (bool, optional): Filter for requests where alternatives
                were used
            callback_method (bool, optional): Filter for requests where callback
                method was used
            callback (bool, optional): Filter for requests where callback was used
            channels (bool, optional): Filter for requests where channels were used
            custom_intent_mode (bool, optional): Filter for requests where custom
                intent mode was used
            custom_intent (bool, optional): Filter for requests where custom intent
                was used
            custom_topic_mode (bool, optional): Filter for requests where custom
                topic mode was used
            custom_topic (bool, optional): Filter for requests where custom topic was
                used
            deployment (V1ProjectsProjectIdUsageGetParametersDeployment, optional):
                Filter for requests where a specific deployment was used
            detect_entities (bool, optional): Filter for requests where detect
                entities was used
            detect_language (bool, optional): Filter for requests where detect
                language was used
            diarize (bool, optional): Filter for requests where diarize was used
            dictation (bool, optional): Filter for requests where dictation was used
            encoding (bool, optional): Filter for requests where encoding was used
            endpoint (V1ProjectsProjectIdUsageGetParametersEndpoint, optional):
                Filter for requests where a specific endpoint was used
            extra (bool, optional): Filter for requests where extra was used
            filler_words (bool, optional): Filter for requests where filler words was
                used
            intents (bool, optional): Filter for requests where intents was used
            keyterm (bool, optional): Filter for requests where keyterm was used
            keywords (bool, optional): Filter for requests where keywords was used
            language (bool, optional): Filter for requests where language was used
            measurements (bool, optional): Filter for requests where measurements
                were used
            method (V1ProjectsProjectIdUsageGetParametersMethod, optional): Filter
                for requests where a specific method was used
            model (str, optional): Filter for requests where a specific model uuid
                was used
            multichannel (bool, optional): Filter for requests where multichannel was
                used
            numerals (bool, optional): Filter for requests where numerals were used
            paragraphs (bool, optional): Filter for requests where paragraphs were
                used
            profanity_filter (bool, optional): Filter for requests where profanity
                filter was used
            punctuate (bool, optional): Filter for requests where punctuate was used
            redact (bool, optional): Filter for requests where redact was used
            replace (bool, optional): Filter for requests where replace was used
            sample_rate (bool, optional): Filter for requests where sample rate was
                used
            search (bool, optional): Filter for requests where search was used
            sentiment (bool, optional): Filter for requests where sentiment was used
            smart_format (bool, optional): Filter for requests where smart format was
                used
            summarize (bool, optional): Filter for requests where summarize was used
            tag (str, optional): Filter for requests where a specific tag was used
            topics (bool, optional): Filter for requests where topics was used
            utt_split (bool, optional): Filter for requests where utt split was used
            utterances (bool, optional): Filter for requests where utterances was used
            version (bool, optional): Filter for requests where version was used

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. A specific request for
                a specific project

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/projects/{project_id}/usage")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("project_id")
                .value(project_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Authorization")
                .value(authorization)
                .is_required(True))
            .query_param(Parameter()
                .key("start")
                .value(start))
            .query_param(Parameter()
                .key("end")
                .value(end))
            .query_param(Parameter()
                .key("accessor")
                .value(accessor))
            .query_param(Parameter()
                .key("alternatives")
                .value(alternatives))
            .query_param(Parameter()
                .key("callback_method")
                .value(callback_method))
            .query_param(Parameter()
                .key("callback")
                .value(callback))
            .query_param(Parameter()
                .key("channels")
                .value(channels))
            .query_param(Parameter()
                .key("custom_intent_mode")
                .value(custom_intent_mode))
            .query_param(Parameter()
                .key("custom_intent")
                .value(custom_intent))
            .query_param(Parameter()
                .key("custom_topic_mode")
                .value(custom_topic_mode))
            .query_param(Parameter()
                .key("custom_topic")
                .value(custom_topic))
            .query_param(Parameter()
                .key("deployment")
                .value(deployment))
            .query_param(Parameter()
                .key("detect_entities")
                .value(detect_entities))
            .query_param(Parameter()
                .key("detect_language")
                .value(detect_language))
            .query_param(Parameter()
                .key("diarize")
                .value(diarize))
            .query_param(Parameter()
                .key("dictation")
                .value(dictation))
            .query_param(Parameter()
                .key("encoding")
                .value(encoding))
            .query_param(Parameter()
                .key("endpoint")
                .value(endpoint))
            .query_param(Parameter()
                .key("extra")
                .value(extra))
            .query_param(Parameter()
                .key("filler_words")
                .value(filler_words))
            .query_param(Parameter()
                .key("intents")
                .value(intents))
            .query_param(Parameter()
                .key("keyterm")
                .value(keyterm))
            .query_param(Parameter()
                .key("keywords")
                .value(keywords))
            .query_param(Parameter()
                .key("language")
                .value(language))
            .query_param(Parameter()
                .key("measurements")
                .value(measurements))
            .query_param(Parameter()
                .key("method")
                .value(method))
            .query_param(Parameter()
                .key("model")
                .value(model))
            .query_param(Parameter()
                .key("multichannel")
                .value(multichannel))
            .query_param(Parameter()
                .key("numerals")
                .value(numerals))
            .query_param(Parameter()
                .key("paragraphs")
                .value(paragraphs))
            .query_param(Parameter()
                .key("profanity_filter")
                .value(profanity_filter))
            .query_param(Parameter()
                .key("punctuate")
                .value(punctuate))
            .query_param(Parameter()
                .key("redact")
                .value(redact))
            .query_param(Parameter()
                .key("replace")
                .value(replace))
            .query_param(Parameter()
                .key("sample_rate")
                .value(sample_rate))
            .query_param(Parameter()
                .key("search")
                .value(search))
            .query_param(Parameter()
                .key("sentiment")
                .value(sentiment))
            .query_param(Parameter()
                .key("smart_format")
                .value(smart_format))
            .query_param(Parameter()
                .key("summarize")
                .value(summarize))
            .query_param(Parameter()
                .key("tag")
                .value(tag))
            .query_param(Parameter()
                .key("topics")
                .value(topics))
            .query_param(Parameter()
                .key("utt_split")
                .value(utt_split))
            .query_param(Parameter()
                .key("utterances")
                .value(utterances))
            .query_param(Parameter()
                .key("version")
                .value(version))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(UsageV1Response.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Invalid Request", ApiException),
        ).execute()
