"""restapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from restapi.api_helper import APIHelper
from restapi.apis.base_api import BaseApi
from restapi.configuration import Server
from restapi.exceptions.api_exception import (
    ApiException,
)
from restapi.http.http_method_enum import HttpMethodEnum
from restapi.models.read_v_1_response import (
    ReadV1Response,
)
from restapi.utilities.union_type_lookup import (
    UnionTypeLookUp,
)


class ReadV1TextApi(BaseApi):
    """A Controller to access Endpoints in the restapi API."""

    def __init__(self, config):
        """Initialize ReadV1TextApi object."""
        super(ReadV1TextApi, self).__init__(config)

    def analyze(self,
                authorization,
                callback=None,
                callback_method="POST",
                sentiment=False,
                summarize=None,
                tag=None,
                topics=False,
                custom_topic=None,
                custom_topic_mode="extended",
                intents=False,
                custom_intent=None,
                custom_intent_mode="extended",
                language="en",
                body=None):
        """Perform a POST request to /v1/read.

        Analyze text content using Deepgrams text analysis API

        Args:
            authorization (str): Use `Authorization: Token <API_KEY>` Example:
                `Authorization: Token 12345abcdef`
            callback (str, optional): URL to which we'll make the callback request
            callback_method (V1ListenPostParametersCallbackMethod, optional): HTTP
                method by which the callback request will be made
            sentiment (bool, optional): Recognizes the sentiment throughout a
                transcript or text
            summarize (V1ReadPostParametersSummarize0 | bool | None, optional):
                Summarize content. For Listen API, supports string version option.
                For Read API, accepts boolean only.
            tag (str | List[str] | None, optional): Label your requests for the
                purpose of identification during usage reporting
            topics (bool, optional): Detect topics throughout a transcript or text
            custom_topic (str | List[str] | None, optional): Custom topics you want
                the model to detect within your input audio or text if present Submit
                up to `100`.
            custom_topic_mode (V1ListenPostParametersCustomTopicMode, optional): Sets
                how the model will interpret strings submitted to the `custom_topic`
                param. When `strict`, the model will only return topics submitted
                using the `custom_topic` param. When `extended`, the model will
                return its own detected topics in addition to those submitted using
                the `custom_topic` param
            intents (bool, optional): Recognizes speaker intent throughout a
                transcript or text
            custom_intent (str | List[str] | None, optional): Custom intents you want
                the model to detect within your input audio if present
            custom_intent_mode (V1ListenPostParametersCustomTopicMode, optional):
                Sets how the model will interpret intents submitted to the
                `custom_intent` param. When `strict`, the model will only return
                intents submitted using the `custom_intent` param. When `extended`,
                the model will return its own detected intents in the `custom_intent`
                param.
            language (str, optional): The [BCP-47 language
                tag](https://tools.ietf.org/html/bcp47) that hints at the primary
                spoken language. Depending on the Model and API endpoint you choose
                only certain languages are available
            body (ReadV1RequestUrl | ReadV1RequestText | None, optional): Analyze a
                text file

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful text analysis

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/read")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Authorization")
                .value(authorization)
                .is_required(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .query_param(Parameter()
                .key("callback")
                .value(callback))
            .query_param(Parameter()
                .key("callback_method")
                .value(callback_method))
            .query_param(Parameter()
                .key("sentiment")
                .value(sentiment))
            .query_param(Parameter()
                .key("summarize")
                .value(summarize)
                .validator(lambda value: UnionTypeLookUp
                    .get("V1ReadPostParametersSummarize").validate(value)))
            .query_param(Parameter()
                .key("tag")
                .value(tag)
                .validator(lambda value: UnionTypeLookUp
                    .get("V1ReadPostParametersTag").validate(value)))
            .query_param(Parameter()
                .key("topics")
                .value(topics))
            .query_param(Parameter()
                .key("custom_topic")
                .value(custom_topic)
                .validator(lambda value: UnionTypeLookUp
                    .get("V1ReadPostParametersCustomTopic").validate(value)))
            .query_param(Parameter()
                .key("custom_topic_mode")
                .value(custom_topic_mode))
            .query_param(Parameter()
                .key("intents")
                .value(intents))
            .query_param(Parameter()
                .key("custom_intent")
                .value(custom_intent)
                .validator(lambda value: UnionTypeLookUp
                    .get("V1ReadPostParametersCustomIntent").validate(value)))
            .query_param(Parameter()
                .key("custom_intent_mode")
                .value(custom_intent_mode))
            .query_param(Parameter()
                .key("language")
                .value(language))
            .body_param(Parameter()
                .value(body)
                .validator(lambda value: UnionTypeLookUp
                    .get("ReadV1Request").validate(value)))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ReadV1Response.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Invalid Request", ApiException),
        ).execute()
