"""restapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from restapi.api_helper import APIHelper
from restapi.apis.base_api import BaseApi
from restapi.configuration import Server
from restapi.exceptions.api_exception import (
    ApiException,
)
from restapi.http.http_method_enum import HttpMethodEnum
from restapi.models.create_project_distribution_credentials_v_1_response import (
    CreateProjectDistributionCredentialsV1Response,
)
from restapi.models.get_project_distribution_credentials_v_1_response import (
    GetProjectDistributionCredentialsV1Response,
)
from restapi.models.list_project_distribution_credentials_v_1_response import (
    ListProjectDistributionCredentialsV1Response,
)


class SelfHostedV1DistributionCredentialsApi(BaseApi):
    """A Controller to access Endpoints in the restapi API."""

    def __init__(self, config):
        """Initialize SelfHostedV1DistributionCredentialsApi object."""
        super(SelfHostedV1DistributionCredentialsApi, self).__init__(config)

    def list(self,
             project_id,
             authorization):
        """Perform a GET request to
        /v1/projects/{project_id}/self-hosted/distribution/credentials.

        Lists sets of distribution credentials for the specified project

        Args:
            project_id (str): The unique identifier of the project
            authorization (str): Use `Authorization: Token <API_KEY>` Example:
                `Authorization: Token 12345abcdef`

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. A list of distribution
                credentials for a specific project

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/projects/{project_id}/self-hosted/distribution/credentials")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("project_id")
                .value(project_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Authorization")
                .value(authorization)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListProjectDistributionCredentialsV1Response.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Invalid Request", ApiException),
        ).execute()

    def create(self,
               project_id,
               authorization,
               scopes=None,
               provider="quay",
               body=None):
        """Perform a POST request to
        /v1/projects/{project_id}/self-hosted/distribution/credentials.

        Creates a set of distribution credentials for the specified project

        Args:
            project_id (str): The unique identifier of the project
            authorization (str): Use `Authorization: Token <API_KEY>` Example:
                `Authorization: Token 12345abcdef`
            scopes
                (List[V1ProjectsProjectIdSelfHostedDistributionCredentialsPostParamete
                rsScopesSchemaItems], optional): List of permission scopes for the
                credentials
            provider
                (V1ProjectsProjectIdSelfHostedDistributionCredentialsPostParametersPro
                vider, optional): The provider of the distribution service
            body (CreateProjectDistributionCredentialsV1Request, optional): The set
                of distribution credentials to create

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Single distribution
                credential

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/projects/{project_id}/self-hosted/distribution/credentials")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("project_id")
                .value(project_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Authorization")
                .value(authorization)
                .is_required(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .query_param(Parameter()
                .key("scopes")
                .value(scopes))
            .query_param(Parameter()
                .key("provider")
                .value(provider))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(CreateProjectDistributionCredentialsV1Response.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Invalid Request", ApiException),
        ).execute()

    def get(self,
            project_id,
            distribution_credentials_id,
            authorization):
        """Perform a GET request to
        /v1/projects/{project_id}/self-hosted/distribution/credentials/{distribution_cr
        edentials_id}.

        Returns a set of distribution credentials for the specified project

        Args:
            project_id (str): The unique identifier of the project
            distribution_credentials_id (str): The UUID of the distribution
                credentials
            authorization (str): Use `Authorization: Token <API_KEY>` Example:
                `Authorization: Token 12345abcdef`

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Single distribution
                credential

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/projects/{project_id}/self-hosted/distribution/credentials/{distribution_credentials_id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("project_id")
                .value(project_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("distribution_credentials_id")
                .value(distribution_credentials_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Authorization")
                .value(authorization)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GetProjectDistributionCredentialsV1Response.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Invalid Request", ApiException),
        ).execute()

    def delete(self,
               project_id,
               distribution_credentials_id,
               authorization):
        """Perform a DELETE request to
        /v1/projects/{project_id}/self-hosted/distribution/credentials/{distribution_cr
        edentials_id}.

        Deletes a set of distribution credentials for the specified project

        Args:
            project_id (str): The unique identifier of the project
            distribution_credentials_id (str): The UUID of the distribution
                credentials
            authorization (str): Use `Authorization: Token <API_KEY>` Example:
                `Authorization: Token 12345abcdef`

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Single distribution
                credential

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/projects/{project_id}/self-hosted/distribution/credentials/{distribution_credentials_id}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("project_id")
                .value(project_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("distribution_credentials_id")
                .value(distribution_credentials_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Authorization")
                .value(authorization)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GetProjectDistributionCredentialsV1Response.from_dictionary)
            .is_api_response(True)
            .local_error("400", "Invalid Request", ApiException),
        ).execute()
