"""restapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from restapi.api_helper import APIHelper
from restapi.apis.base_api import BaseApi
from restapi.configuration import Server
from restapi.exceptions.api_exception import (
    ApiException,
)
from restapi.http.http_method_enum import HttpMethodEnum
from restapi.utilities.union_type_lookup import (
    UnionTypeLookUp,
)


class SpeakV1AudioApi(BaseApi):
    """A Controller to access Endpoints in the restapi API."""

    def __init__(self, config):
        """Initialize SpeakV1AudioApi object."""
        super(SpeakV1AudioApi, self).__init__(config)

    def generate(self,
                 authorization,
                 callback=None,
                 callback_method="POST",
                 mip_opt_out=False,
                 tag=None,
                 bit_rate=None,
                 container=None,
                 encoding=None,
                 model="aura-asteria-en",
                 sample_rate=None,
                 speed=1,
                 body=None):
        """Perform a POST request to /v1/speak.

        Convert text into natural-sounding speech using Deepgram's TTS REST API

        Args:
            authorization (str): Use `Authorization: Token <API_KEY>` Example:
                `Authorization: Token 12345abcdef`
            callback (str, optional): URL to which we'll make the callback request
            callback_method (V1ListenPostParametersCallbackMethod, optional): HTTP
                method by which the callback request will be made
            mip_opt_out (bool, optional): Opts out requests from the Deepgram Model
                Improvement Program. Refer to our Docs for pricing impacts before
                setting this to true. https://dpgr.am/deepgram-mip
            tag (str | List[str] | None, optional): Label your requests for the
                purpose of identification during usage reporting
            bit_rate (V1SpeakPostParametersBitRate0 | float | None, optional): The
                bitrate of the audio in bits per second. Choose from predefined
                ranges or specific values based on the encoding type.
            container (V1SpeakPostParametersContainer0 |
                V1SpeakPostParametersContainer1 | V1SpeakPostParametersContainer2 |
                V1SpeakPostParametersContainer3 | V1SpeakPostParametersContainer4 |
                None, optional): Container specifies the file format wrapper for the
                output audio. The available options depend on the encoding type.
            encoding (V1SpeakPostParametersEncoding0 | V1SpeakPostParametersEncoding1
                | V1SpeakPostParametersEncoding2 | V1SpeakPostParametersEncoding3 |
                V1SpeakPostParametersEncoding4 | V1SpeakPostParametersEncoding5 |
                V1SpeakPostParametersEncoding6 | None, optional): Encoding allows you
                to specify the expected encoding of your audio output
            model (V1SpeakPostParametersModel, optional): AI model used to process
                submitted text
            sample_rate (V1SpeakPostParametersSampleRate0 |
                V1SpeakPostParametersSampleRate1 | V1SpeakPostParametersSampleRate2 |
                V1SpeakPostParametersSampleRate3 | V1SpeakPostParametersSampleRate4 |
                None, optional): Sample Rate specifies the sample rate for the output
                audio. Based on the encoding, different sample rates are supported.
                For some encodings, the sample rate is not configurable
            speed (float, optional): Speaking rate multiplier that adjusts the pace
                of generated speech while preserving natural prosody and voice
                quality. Not yet supported in all languages.
            body (SpeakV1Request, optional): Transform text to speech

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Successful
                text-to-speech transformation

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/speak")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Authorization")
                .value(authorization)
                .is_required(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .query_param(Parameter()
                .key("callback")
                .value(callback))
            .query_param(Parameter()
                .key("callback_method")
                .value(callback_method))
            .query_param(Parameter()
                .key("mip_opt_out")
                .value(mip_opt_out))
            .query_param(Parameter()
                .key("tag")
                .value(tag)
                .validator(lambda value: UnionTypeLookUp
                    .get("V1SpeakPostParametersTag").validate(value)))
            .query_param(Parameter()
                .key("bit_rate")
                .value(bit_rate)
                .validator(lambda value: UnionTypeLookUp
                    .get("GenerateBitRate").validate(value)))
            .query_param(Parameter()
                .key("container")
                .value(container)
                .validator(lambda value: UnionTypeLookUp
                    .get("GenerateContainer").validate(value)))
            .query_param(Parameter()
                .key("encoding")
                .value(encoding)
                .validator(lambda value: UnionTypeLookUp
                    .get("GenerateEncoding").validate(value)))
            .query_param(Parameter()
                .key("model")
                .value(model))
            .query_param(Parameter()
                .key("sample_rate")
                .value(sample_rate)
                .validator(lambda value: UnionTypeLookUp
                    .get("GenerateSampleRate").validate(value)))
            .query_param(Parameter()
                .key("speed")
                .value(speed))
            .body_param(Parameter()
                .value(body))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True)
            .local_error("400", "Invalid Request", ApiException),
        ).execute()
